section#latest {
  /* height: 80vh; */
  padding: 1em;
  box-sizing: border-box;
  width: 100vw;
  background: #d5f5e3;
}

#wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  aspect-ratio: 1/1;
  height: 100%;
  /* max-width: 100%; */
  max-width: 600px;
  /* background: lightpink ; */
}

#latest .main {
  width: 100%;
  /* max-width: 400px; */
  cursor: pointer;
  /* border: none; */
}
#latest #video {
  display: none;
}
#latest #cover {
  /* display: none; */
  opacity: 0;
  animation: fade forwards 2s ease-in, pulse infinite 2s linear;
  animation-delay: 0.25s, 3s;
  animation-play-state: running;
}
#latest .title {
  animation: fade forwards 2s ease-in;
  animation-delay: 1.5s;
  opacity: 0;
  /* width: 35%; */
  width: 100%;
  /* margin: ; */
}
#latest #cover:hover {
  animation-play-state: running, paused;
}
