section#old {
  padding: 2em;
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: scroll;
  gap: 2em;
}
.card {
  cursor: pointer;
  flex-shrink: 0;

  width: 300px;
  text-align: center;
  transition: transform 0.5s ease;

  opacity: 0;
  animation: fade forwards 1s ease-in;
  animation-delay: 2.5s;
}
.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.card h2 {
  margin-top: 0.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
